/*
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'UnifrakturCook', cursive;
*/

body {
    --main-bg-color: #271F30;
    --main-box-color: #654F6F;
    --button-color: #5C5D8D;
    --emphasiscolor: #A8C69F;
    --keycolor: #CCE2A3;
    --outlinecolor: orange;
    --textcolor: #fff;
    --textdarkcolor: #000;
    --warning: orange;
    background-color: var(--main-bg-color);
    /* font-family: 'Open Sans', sans-serif; */
  }

#userLoggedIn {
    display: none;
}

.nav-link {
    display: inline;
}


.navbar {
    background-color: var(--emphasiscolor)!important;
    color: var(--textcolor)!important;
}

.jumbotron-fluid{
    min-width: 100%;
    background-image: url("../images/jumbodiv.png");
    background-size: cover;
    background-position: left bottom;
    background-color: var(--main-box-color);

    color: var(--textcolor);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
}

.jumbotron-fluid::before {
    content: "";
    position: absolute;
    top: 10%;
    right: 10%;
    width: 250px; 
    height: 259px;  
    z-index: 3;
    background: url("../images/dragontopper.png");
    background-size: cover;
  }

  #getTheeOnTop {
      position: absolute;
      display: inline;
      z-index: 5;
  }

@media screen and (max-width: 768px) {

    .jumbotron-fluid{
        min-width: 100%;
        background: url("../images/dragontopsmall.png") right bottom no-repeat,
                    url("../images/jumbodiv.png") left bottom no-repeat;
        background-size: auto auto, 110% auto;
        /* background-size: cover;
        background-position: left bottom; */
        /* background-color: var(--main-box-color); */
    
        color: var(--textcolor);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 1;
    }

    .jumbotron-fluid::before {
        display:none;
        content: "";
        position: absolute;
        top: 10%;
        right: 5%;
        width: 150px; 
        height: 155px;  
        z-index: 3;
        background: url("../images/dragontopper.png");
        background-size: cover;
        overflow: hidden;
      }
    
      #getTheeOnTop {
          position: absolute;
          display: inline;
          z-index: 5;
      }


    .display-4 {
        display: inline;
        margin-right: 1rem;
        font-family: 'UnifrakturCook', cursive;
        font-size: 3.5rem!important;
        color: var(--textcolor);
        text-shadow: orange -2px 2px;
    }



}

@media screen and (max-width: 575px) {
    .display-4 {
        font-size: 2.3rem!important;
    }
}

  
#leadStyle {
    background-color: rgba(101, 79, 111, 0.75);
    border-radius: 5px;
    padding: 3px;
    padding-left: 10px;
}

.display-4 {
    display: inline;
    margin-right: 1rem;
    font-family: 'UnifrakturCook', cursive;
    font-size: 5rem;
    color: var(--textcolor);
    text-shadow: orange -2px 2px;
}

.btn-outline-secondary {
    background-color: var(--button-color);
    color: var(--textcolor);
    border-color: var(--button-color);
}

.form-control {
    background-color: var(--emphasiscolor)!important;
    color: var(--textdarkcolor)!important;
}

#signOutButton {
    display: none;
}

#noResults {
    display: none
}

#noResultsBox {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    min-width: 70%;
    text-align: center;
    background-color: var(--main-box-color);
    padding-top:15px;
    padding-bottom:15px;
    font-size: 2rem;
    border-radius: 5px;
}

#findMeAPlace {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    min-width: 70%;
    text-align: center;
    background-color:var(--main-box-color);
    padding-top:15px;
    padding-bottom:15px;
    font-size: 2rem;
    border-radius: 5px;
    color: var(--textcolor);
}

#3x {
    size: 300%;
}

#5x {
    size: 500%;
}

#2x {
    size: 200%;
}

#mainVenuePic {
    max-width: 300px;
    min-width: 300px;
    height: auto;
    min-height: 25px;
    background: gray;
}

#favorite {
    opacity: .8;
}

.favorited {
    color: orange;
}
#mainRestaurantName {
    margin-bottom: -4px!important;
}

.card {
    margin-bottom: 10px!important;
}
